$font-size: 50px;

body {
  background-color: #12130F;
  color: #E5DCC5;
  font-family: 'Karla', sans-serif;
}

.landing-wrap {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  flex-direction: column;
}

.default-image-art {
  background: linear-gradient(to bottom, #108dc7, #ef8e38);
  filter: blur(5px);
}

@import 'constants';

.main-image-art {
  height: 450px;
  min-width: 300px;
  width: 200px;
}

.default-image {
  height: 400px;
  min-width: 100px;
  width: 80px;
}

.alternate-image-art {
  height: 400px;
  min-width: 100px;
  width: 80px;
}

.main-movie-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.main-movie-details-wrap {
  width: 100%;

  h1:first-of-type {
    margin-top: 0;
  }
}

.alternate-movies-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .default-image,
  .default-image-art {
    width: 100%;
    max-width: 300px;
    margin: 2%;
  }
}

.about-header {
  text-align: center;
  margin-top: 80px;
}

.about-text {
  font-size: 18px;
}

@media (min-width: $sm) {
  .main-movie-wrap {
    flex-wrap: nowrap;
  }
  .main-movie-details-wrap {
    padding-left: 5%;
  }

  .alternate-movies-wrap {
    flex-direction: row;

    .default-image,
    .default-image-art {
      width: 25%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}