@import 'constants';

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Karla', sans-serif;
}

.landing-wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}

.default-image-art {
  background: linear-gradient(to bottom, #108dc7, #ef8e38);
  filter: blur(5px);
}

.main-image-art {
  height: 450px;
  min-width: 300px;
  width: 200px;
}

.default-image {
  height: 400px;
  min-width: 100px;
  width: 80px;
}

.alternate-image-art {
  height: 400px;
  min-width: 100px;
  width: 80px;
}

.main-movie-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.main-movie-details-wrap {
  width: 100%;

  h1:first-of-type {
    margin-top: 0;
  }

  h3,
  h4 {
    color: $highlight-color;
  }

  .main-movie-details-title {
    display: flex;

    p {
      align-self: center;
      margin-top: 0;
    }
  }
}

.alternate-movies-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .default-image,
  .default-image-art {
    cursor: pointer;
    margin: 1%;
    max-width: 300px;
    width: 100%;
  }
}

.about-header {
  margin-top: 80px;
  text-align: center;
}

.about-text {
  font-size: 18px;
}

@media (min-width: $sm) {
  .main-movie-wrap {
    flex-wrap: nowrap;
  }

  .main-movie-details-wrap {
    padding-left: 5%;
  }

  .alternate-movies-wrap {
    flex-direction: row;

    .default-image,
    .default-image-art {
      margin-bottom: 0;
      margin-top: 0;
      width: 25%;

      &:first-of-type, {
        margin-left: 0;
      }

      &:last-of-type, {
        margin-right: 0;
      }

    }
  }
}